<% @posts.each do |post| %>	
  <div class="center">
    <h1> <%= link_to post.tittle, post %> </h1>
	<div style="text-align:left;">
		<%= truncate post.text, length: 180%>
	</div>
	<postFooter>
	  <div id="wrap">
	   <div class="left"><%= post.created_at %> <%= link_to post.category.name,  post.category %></div>
	   <div class="right">[<%= post.comments.count %> Komentarzy]</div>

	   <div class="clearBoth"></div>
	  </div>
	</postFooter>
  </div>
<% end %>

<% if @session_manager.signed_in? %>
<p>
	<%= link_to "Nowy post", new_post_path %>
</p>
<% end %>
