<div class="center">
    <h1> <%= @post.tittle %> </h1>
	<div style="text-align:left;">
		<%= @post.text %>
	</div>
   <postFooter><div><%= @post.created_at %> <%= link_to @post.category.name,  @post.category %></div></postFooter>
</div>
<div>
   <p>Komentarze(<%= @post.comments.count %>): </p>	
   <% @post.comments.each do |comment| %>
    <div class="comment">
		<header><%= comment.user_name %> (<%= comment.created_at %>)</header>
		<div><%= comment.text %></div>
	</div>
	<% if @session_manager.signed_in? %>
	   <%= link_to "Usuń", [@post, comment], :method => :delete, :confirm => "Czy jesteś pewny, że chcesz usunąć ten komentarz?" %>
	<% end %>
	<% end %>
   
    <div class="center">
		<%= form_for [@post, @post.comments.build] do |f| %>
		  <div class="field">
			<%= f.label :"Komentarz:" %>
			<%= f.text_area :text%>
		  </div>
		  <div class="field">
			<%= f.label :"Użytkownik:" %>
			<%= f.text_field :user_name%>
		  </div>
		  <div class="actions">
			<%= f.submit "Post comment" %>
		  </div>
		<% end %>
    </div>
	<%= link_to "Wróć", posts_path %>
	<% if @session_manager.signed_in? %>
		|
		<%= link_to "Edytuj", edit_post_path(@post) %>
		|
		<%= link_to "Usuń", @post, :method => :delete, :confirm => "Czy jesteś pewny, że chcesz usunąć ten post?" %>
	<% end %>
</div>

	

